body {
    background-color: #ffedcb;
    color: #4b3529;
}

header {
    background-color: #f5d7b3;
}

nav a {
    background-color: #ffe9d2;
    color: #8a3b1e;
}

nav a:hover {
    background-color: #8a3b1e;
    color: #ffffff;
}

h1 {
    text-align: center;
    color: #b3472f;
}

